body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #ffffff;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: #83869a;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  overflow: hidden;
}

.button {
  display: inline-block;
  border-radius: 28px;
}
.button-text {
  display: block;
  text-transform: capitalize;
  line-height: 28px;
  font-weight: 700;
  padding: 10px 24px;
  color: #fff;
}

/* __________Header mobile version_______ */

.header {
  height: 80px;
}
.header__row {
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-darkBlue {
  background-color: #13183f;
}
.button-darkBlue :hover {
  border-radius: 28px;
  background-color: #666ca3;
}
.logo {
  width: 89px;
  height: auto;
}

/* __________Content mobile version_______ */
.content {
  flex: 1 1 auto;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 22px;
}

.herro {
  padding: 0 16px;
}
.herro-title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 800;
  color: #13183f;
  margin-bottom: 26px;
}
.herro-text {
  margin-bottom: 24px;
}
.button-pink {
  background: linear-gradient(#ff6f48, #f02aa6);
  margin-bottom: 40px;
}
.button-pink .button-text {
  padding: 15px 37px;
}
.button-pink:hover {
  opacity: 0.5;
}
.herro-image {
  width: 100%;
}
.herro-image-tablet {
  display: none;
}
.herro-image-desktop {
  display: none;
}
.info {
  padding: 0 16px 80px;
  background: linear-gradient(#ffffff, #f0f1ff);
  height: 100%;
}

.info-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 0 28px 32px;
  margin-bottom: 40px;
}
.info-item:first-child {
  background: linear-gradient(#ff6f48, #f02aa6);
  padding: 24px 28px 32px;
}
.info-item:first-child .info-title {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
}
.info-item:last-child {
  margin-bottom: 0;
}
.info-icon {
  margin-bottom: 24px;
  margin-top: -24px;
}
.info-textContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.info-title {
  color: #13183f;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
  margin-bottom: 16px;
}
.info-text {
  flex: 1 1 auto;
  margin-bottom: 24px;
}
.info-link-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
}
.info-link-text:hover {
  cursor: pointer;
  color: #ffa7c3;
}
/* __________Footer mobile version_______ */

.footer {
  background-color: #13183f;
  height: 120px;
}
.footer__row {
  max-width: 1440px;
  margin: 0 auto;
  padding: 36px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-purple {
  background: linear-gradient(#4851ff, #f02aa6);
}

@media (min-width: 768px) {
  .header {
    height: 96px;
    z-index: 2;
  }
  .content {
    padding-top: 75px;
  }
  .header__row {
    padding: 24px 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .herro {
    padding: 0 39px;
  }
  .herro-row {
    position: relative;
  }
  .herro-textContent {
    width: 52vw;
    max-width: 500px;
    margin-bottom: 170px;
  }

  .herro-image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }
  .herro-image-mobile {
    display: none;
  }
  .herro-image-tablet {
    display: block;
    width: 100%;
    transform: translate(335px, -260px);
  }

  .info {
    padding: 0 39px 86px;
  }
  .info-row {
    display: flex;
    flex-wrap: wrap;
    /* column-gap: 10px;
    row-gap: 56px; */
  }

  .info-item {
    flex: 0, 1, 50%;
    /* width: 49.27%; */
    margin-bottom: 0;
    padding: 0 21px 32px 32px;
  }
  .info-item:first-child {
    padding: 56px 21px 32px 32px;
  }
  .footer__row {
    padding: 36px 39px;
  }
}

@media (min-width: 1440px) {
  .content {
    padding-top: 148px;
  }
  .header {
    height: 104px;
  }
  .header__row {
    padding: 24px 165px;
  }
  .button-text {
    padding: 14px 32px;
  }

  .herro {
    padding-left: 165px;
    padding-right: 0;
  }

  .herro-textContent {
    margin-bottom: 210px;
  }
  .herro-title {
    font-size: 56px;
    line-height: 71px;
    margin-bottom: 29px;
  }

  .herro-text {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
  }

  .button-pink .button-text {
    padding: 19px 32px;
    font-size: 18px;
  }

  .herro-image-wrapper {
    transform: translate(0, -420px);
    overflow: hidden;
  }

  .herro-image-tablet {
    display: none;
  }

  .herro-image-desktop {
    display: block;
    transform: translate(350px, 0);
  }

  .info {
    padding: 0 165px 140px;
  }
  .info-row {
    /* column-gap: 30px;
    row-gap: 80px; */
  }
  .info-item {
    flex: 0, 1, 33.33%;
    /* width: 350px; */
  }
  .info-item:first-child {
    padding: 64px 32px 32px;
  }
  .info-item:first-child .info-title {
    font-size: 32px;
    line-height: 40px;
  }
  .info-icon {
    margin-bottom: 32px;
  }
  .info-title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 24px;
  }
  .info-text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 28px;
  }
  .button-purple:hover {
  }
}
